body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f2;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #ff66b3;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #ff66b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    text-align: center;
    margin-top: 30px;
}

label {
    font-weight: bold;
    color: #ff66b3;
    margin-right: 10px;
}

select {
    padding: 10px;
    border: 2px solid #ff66b3;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #ff66b3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff3385;
}